@model TaskProject.Models.Task

<form asp-action="Create" method="post" role="form">
	<h4>Create a new task</h4>

	<table border="0">
		<tr>
			<td class="right">
				<label asp-for="Title"></label> :
			</td>
			<td>
				<input type="text" asp-for="Title" />
				<span asp-validation-for="Title" class="message"></span>
			</td>
		</tr>
		<tr>
			<td class="right">
				<label asp-for="Type"></label> :
			</td>
			<td>
				<select asp-for="Type" asp-items="@ViewBag.ListOfTaskTypes">
					<option value="">Please select</option>
				</select>
				<span asp-validation-for="Type" class="message"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit">Save</button>
			</td>
		</tr>
	</table>
</form>

