@model TaskProject.Models.Task
	<form asp-controller="Task" asp-action="Details" method="post">
		<h2 class="message">@ViewBag.Message</h2> 
		<table border="0">
			<tr>
				<td class="right">
					<label asp-for="Id"></label>:
				</td>
				<td>
					<input type="text" asp-for="Id" disabled="disabled"/>
				</td>
			</tr>
			<tr>
				<td class="right">
					<label asp-for="Type"></label>:
				</td>
				<td>
					<select asp-for="Type" asp-items=@ViewBag.ListOfTaskTypes>
						<option value="@Model.Type"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="right">
					<label asp-for="Title"></label>:
				</td>
				<td>
					<input type="text" asp-for="Title" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">Save</button>
				</td>
			</tr>
			<tr>
				<td>
					<a asp-controller="Task" asp-action="List">Back to List</a>
				</td>
			</tr>
			
		</table>
	</form>