@model TaskProject.Models.Task
	<form asp-controller="Task" asp-action="Details" method="post">
		<table border="0">
			<tr>
				<td class="right">
					<label asp-for="Id"></label>:
				</td>
				<td>
					<input type="text" asp-for="Id" />
				</td>
			</tr>
			<tr>
				<td class="right">
					<label asp-for="Type"></label>:
				</td>
				<td>
					<input type="text" asp-for="Type" />
				</td>
			</tr>
			<tr>
				<td class="right">
					<label asp-for="Title"></label>:
				</td>
				<td>
					<input type="text" asp-for="Title" />
				</td>
			</tr>

		</table>
	</form>