<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Styles/site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a asp-controller	="Task" asp-action="List">List</a>
			</li>
		</ul>
	</nav>

<hr />
	<div>
		@RenderBody()
	</div>
</body>
</html>
