<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Styles/site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
	<a asp-controller="Task" asp-action="List" style="text-decoration:none; color:black;">
		<h1>Project Task</h1>
	</a>
	<hr/>
	<div>
		@RenderBody()
	</div>
</body>
</html>
